*,
*::before,
*::after {
    box-sizing: border-box;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;     
}

.portfolio li h3.github::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/github.svg');
    margin-right: .5rem;    
}
.portfolio > li > a  {        
    width: auto; /* Para ajustar ao conteúdo */
    margin-top: .1rem;
    margin-bottom: .3rem;
    padding-left: 1.5rem;    
}

/* media queryes */
@media only screen and (max-width: 575px) {
    .portfolio li h3.github::before {
        width: 1rem;
        min-width: 1rem;
    }

    .portfolio li h3 {        
        font-size: 1rem;
        font-weight: 700;
    }
}

/* Pequeno (SM): Telão de smartphones: 576px a 768px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .portfolio li h3.github::before {
        width: 1rem;
        min-width: 1rem;
    }

    .portfolio li h3 {        
        font-size: 1rem;
        font-weight: 700;
    }
}
